*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  background-color: red;
  height: 500px;
}

.header-top{
  background-color: green;
  height: 100px;
}

.nav1{
  background-color: #deeaee;
  height: 50px;
}

.nav2{
  background-color: yellow;
  height: 50px;
}

.header-top a{
  text-decoration: none;
}

.menu #li2{
  padding-left: 5px;
  border-left: 1px solid black;
}

.header-top li{
  display: inline;
  margin-left: 5px;
}
.header-top::after{
  content: "";
  display: table;
  clear: both;
}

.nav1-left{
  float: left;
  width: 50%;
  height: 100%;
}

.menu1{
  margin-top: 15px;
}

.menu2{
  margin-top: 10px;
}
.nav1-right{
  float: right;
  width: 30%;
  height: 100%;
}

a.button {
  display: inline-block;
  background-color: blue;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 5px;
