*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  height: 700px;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.header-top{
  height: 100px;
}

.header-bottom{
  height: 600px;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav1{
  background-color: #deeaee;
  height: 50px;
  border-bottom: 2px solid lightgrey;
}

.nav2{
  background-color: #fff;
  height: 50px;
}

.header-top a{
  text-decoration: none;
  color: grey;
}

#li2 {
  padding-left: 10px;
  border-left: 2px solid grey;
}

.header-top li{
  display: inline;
  margin-right: 5px;
}

.header-top::after{
  content: "";
  display: table;
  clear: both;
}

.nav1-left{
  float: left;
  width: 50%;
  height: 100%;
  margin-left: 10%;
}

.menu1{
  margin-top: 15px;
}

.menu2{
  margin-top: 10px;
}

.nav1-right{
  float: right;
  width: 30%;
  height: 100%;
}

a.button {
  display: inline-block;
  background-color: #ffbb39;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}

.button#log{
  background-color: #fff;
  padding: 3px;
  border: 2px solid #ffbb39;
  color: orange;
}

.nav2-left{
  height: 30px;
  width: 100px;
  background-image: url("../img/hubspot-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-left: 15px;
}

.nav2-left{
  float: left;
  height: 100%;
  margin-left: 10%;
}

.nav2-right{
  float: right;
  width: 43%;
  height: 100%;
  margin-top: 3px;
}

.titolo{
  width: 500px;
  /* background-color: red; */
  margin-left: 10%;
  padding-top: 5%;
  color: #303860;
}

h1{
  font-size: 65px;
}

p{
  padding-top: 30px;
}

.bigbutton{
  display: inline-block;
  background-color: #ffbb39;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  margin-top: 40px;

}
